form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 300px;
  // min-width: 100%;
  margin: 1rem 0;
}

.spinner-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}