
<div class="container">
  <img src="../../../assets/images/logo.png" alt="nordstrom log">
  <h1 class="mat-headline">Login</h1>

  <div class="spinner-container" *ngIf="!loaded">
    <mat-spinner></mat-spinner>
  </div>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="loaded">
    <mat-form-field>
      <mat-select
        placeholder="Select Name"
        ngModel
        name="name"
        required
        >
        <mat-option *ngFor="let e of employees" [value]="e.name">
          {{ e.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Enter 4-digit PIN"
        type="password"
        maxlength="4"
        ngModel
        name="password"
        required
        [disabled]="!f.value.name"
        >
    </mat-form-field>
    <div class="mat-caption" style="color: red; margin: -20px 0 0 0" *ngIf="wrongPassword">Wrong Password</div>
    <button mat-raised-button color="primary" type="submit" style="margin-top: 10px;">Login</button>
  </form>
</div>